* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	word-break: break-all;
	word-wrap: break-word;
} html, body {
	min-height: 100vh;
	overflow-x: hidden;
} body {
	display: flex;
	flex-direction: column;
} a {
	color: var(--color);
	text-decoration: none;
} section {
	flex: 1;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: var(--width-padding);
	padding-right: var(--width-padding);
} img {
	position: relative;
	top: .25ex;
	cursor: pointer;
} ul {
	list-style: none;
} section ul> li {
	background-image: url("/media/ul_list.svg");
	background-repeat: no-repeat;
	background-position: 0ex .5ex;
	background-size: 1ex;
	padding-left: 1.5ex;
}
