* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	word-break: break-all;
	word-wrap: break-word;
} html {
	width: 100%;
	height: 100%;
} body {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
} a {
	color: var(--color);
	text-decoration: none;
} .main a:hover {
	text-decoration: underline;
} ul> li {
	list-style: none;
} .main ul> li {
	background-image: url("/media/ul_list.svg");
	background-repeat: no-repeat;
	background-position: 0ex .5ex;
	background-size: 1ex;
	padding-left: 1.5ex;
}



/* main */

.main {
	flex: 1;
	padding: 1em calc(var(--width-padding) + .5em);
} .grid {
	display: -ms-grid;
	display: grid;
	grid-auto-flow: dense;
	align-content: start;
} .grid> .box {
	margin: .5em;
} .box[center] {
	-ms-grid-column-align: center;
	-ms-grid-row-align: center;
	justify-self: center;
	align-self: center;
} .box[center-x] {
	-ms-grid-column-align: center;
	justify-self: center;
} .box[center-y] {
	-ms-grid-row-align: center;
	align-self: center;
}



/* header */

header {
	position: relative;
	display: block;
	background-color: var(--header-background-color);
	padding: 0 var(--width-padding);
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	z-index: 100;
} header a.header {
	width: 100%;
	line-height: calc(var(--header-height) - 2px);
} header a.header img {
	margin-right: .25em;
	height: 1em;
	vertical-align: middle;
} header a.header span {
	vertical-align: middle;
} header .nav_btn {
	display: none;
}



/* navigator */

nav {
	position: relative;
	background-color: var(--navigator-background-color);
	padding: 0 var(--width-padding);
	width: 100%;
	text-align: center;
	z-index: 90;
} nav ul {
	display: table;
	table-layout: fixed;
	width: 100%;
} nav> ul> li {
	position: relative;
	display: table-cell;
} nav a {
	background-color: var(--navigator-background-color);
	position: relative;
	display: block;
	line-height: var(--navigator-height);
	padding: 0 .5em;
	z-index: 1;
} nav li:hover> a,
nav a[select] {
	background-color: var(--navigator-background-hover);
} nav ul ul {
	background-color: var(--navigator-background-color);
	position: absolute;
	display: block;
	height: auto;
	width: 100%;
	top: calc(-100% - var(--navigator-height));
	opacity: 0;
	transition: all .5s;
} nav li:hover> ul {
	top: var(--navigator-height);
	opacity: 1;
} nav li li a {
	width: 100%;
	border-bottom: 1px solid var(--navigator-background-hover);
}

/* nav_btn */

nav.hide {
	position: fixed;
	top: -100vh;
} header.nav {
	position: fixed;
	background-color: var(--navigator-background-color);
	width: 100%;
	top: 0;
	text-align: left;
} header.nav ~ .main {
	padding-top: calc(var(--header-height) + 1em);
} header.nav> .header {
	display: inline-block;
	width: auto;
	padding: 0 .5em;
} header.nav .nav_btn {
	position: relative;
	display: inline-block;
	float: right;
	right: 0;
	height: calc(var(--header-height) - 1px);
	width: calc(var(--header-height) - 1px);
	cursor: pointer;
} header .nav_btn span {
	position: absolute;
	display: block;
	width: 70%;
	margin-left: 15%;
	background-color: var(--color);
	height: 2px;
	border-radius: 1px;
	transition: all .5s;
	transform-origin: left;
} header .nav_btn span:first-child {
	margin-top: calc((100%/4) * 1);
} header .nav_btn span:nth-child(2) {
	margin-top: calc((100%/4) * 2);
} header .nav_btn span:last-child {
	margin-top: calc((100%/4) * 3);
} header .nav_btn.cross span:first-child {
	margin-top: 15%;
	width: 100%;
	transform: rotate(45deg);
} header .nav_btn.cross span:nth-child(2) {
	width: 0;
	margin-left: 50%;
} header .nav_btn.cross span:last-child {
	margin-top: 85%;
	width: 100%;
	transform: rotate(-45deg);
}

/* nav_btn click */

div.nav {
	background-color: var(--header-background-color);
	position: fixed;
	padding: 0 calc(var(--width-padding) - .25em);
	width: 100%;
	height: calc(100% - var(--header-height));
	top: var(--header-height);
	right: -200vw;
	font-size: 1rem;
	transition: right 1s;
	overflow-y: auto;
} div.nav.show {
	transition: right .5s;
	right: 0;
} div.nav> ul {
	padding: 1em;
} div.nav> ul> li {
	border-bottom: 1px solid var(--border-color);
	margin-bottom: 1.5em;
	padding-bottom: .5em;
} div.nav li li:before {
	margin-left: .25em;
	content: " - ";
} div.nav a:hover,
div.nav a[select] {
	color: var(--navigator-background-hover);
}



/* footer */

footer {
	background-color: var(--footer-background-color);
	padding: 1ex;
	padding-left: calc(var(--width-padding) - .25em);
	padding-right: calc(var(--width-padding) - .25em);
	width: 100%;
	text-align: center;
} footer:after {
	display: block;
	content: "";
	clear: both;
} footer, footer a {
	color: var(--color-reverse);
} footer> img {
	float: right;
	display: block;
	height: var(--footer-height);
	margin-left: 1em;
} footer> span {
	display: inline-block;
	padding: .5em;
	padding-top: .1em;
	padding-bottom: .1em;
}
