.slide {
	position: relative;
	display: block;
	border: 1px solid var(--border-color);
	white-space: nowrap;
	border-collapse: collapse;
	overflow: hidden;
} .slide .slide_list {
	position: relative;
	display: inline-block;
	transition: all .5s;
} .slide .sliding {
	position: absolute;
	padding-left: 1px;
} .slide .sliding> * {
	display: block;
	margin: auto;
} .slide div.slide_btn {
	position: absolute;
	width: 100%;
	bottom: 0;
} .slide span.slide_btn {
	border: 1px solid black;
	border-radius: 1ex;
	display: inline-block;
	width: 2ex;
	height: 2ex;
	cursor: pointer;
}
