/* header */

header {
	background-color: var(--header-background-color);
	padding-left: var(--width-padding);
	padding-right: var(--width-padding);
	text-align: center;
	font-size: 1.5em;
} header img {
	margin-right: .5ex;
	position: relative;
	top: .25ex;
} header a {
	display: block;
	line-height: 1.5em;
	padding: .5ex;
	padding-left: 1ex;
	padding-right: 1ex;
}



/* navigator */

nav {
	background-color: var(--navigator-background-color);
	padding-left: var(--width-padding);
	padding-right: var(--width-padding);
	text-align: center;
} nav a {
	display: block;
} nav a:hover {
	background-color:  var(--navigator-background-hover);
	text-decoration: none;
} nav> ul {
	display: flex;
	flex-direction: row;
	line-height: 2em;
} nav> ul> li {
	flex: 1;
	display: inline-block;
}



/* footer */

footer {
	background-color: var(--footer-background-color);
	padding: 1ex;
	padding-left: var(--width-padding);
	padding-right: var(--width-padding);
	text-align: center;
} footer, footer a {
	color: var(--color-reverse);
} footer a:hover {
	text-decoration: none;
} footer> span {
	display: inline-block;
} footer> span> span {
	display: inline-block;
	margin-left: 1ex;
	margin-right: 1ex;
	margin-top: .25ex;
	margin-bottom: .25ex;
}
