:root {
	--color: #000000;
	--color-reverse: #ffffff;

	--border-color: #ffffff;
	--border-color-reverse: #000000;

	--header-background-color: #ffffff;
	--navigator-background-color: #87ceeb; /* skyblue */
	--navigator-background-hover: #65accb;
	--footer-background-color: #444444;
}





/* @media screen and (max-width: 1099px) { */
	:root {
		--width: 100%;
		--width-padding: 0;
/*	} */
} @media screen and (min-width: 1100px) {
	:root {
		--width: 1100px;
		--width-padding: calc((100% - var(--width)) / 2);
	}
}
